# Python bytecode and cache
__pycache__/
*.py[cod]
*.pyo

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Environment files
.env
.venv/
env/
venv/

# Compiled libraries
*.so
*.dll
*.dylib

# GStreamer cache
.cache/

# Calibration and output files
*.npy
output.mp4
calibresult.png

# Logs
*.log

# Test and temp files
*.tmp
*.bak
*.swp

# Config files
*.ini*.mp4
src/camera_calibration/camera_calib_video/*.mp4
src/camera_calibration/stereo_calib_video/*.mp4
OCT_v211_unix
